<div  style="position: relative; height:500px">
    <div style="position:relative">

      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Browse</span>
          </div>
          <input [(ngModel)]="searchField" placeholder="skos ontology (NALT) ..." class="form-control" (input)="delayedAutocomplete()"
          />
        </div>
    </div>
  <br/>
  <div style="width:75vw;max-height:250px;overflow-x:hidden" >
  <mat-chip-list >
    <mat-chip *ngFor="let thesaurusEntry of thesaurusEntriesChips"
    (click)="onMatClicked(thesaurusEntry)"
    >
    {{ thesaurusEntry.thesaurusEntry.id.name }}</mat-chip>
  </mat-chip-list>
</div>
  
<br/>

<div *ngIf="thesaurusEntry">
  {{thesaurusEntry.id.name}} (<p style="display: online-block" *ngFor="let synonym of thesaurusEntry.synonyms">{{synonym}} </p>)
  {{thesaurusEntry.parent.name}}
  <mat-chip-list *ngIf="thesaurusEntry.siblings">
      <mat-chip *ngFor="let sibling of thesaurusEntry.siblings;" 
      (click)="onClickIdentifier(sibling)"
      >
      {{ sibling.name }}</mat-chip>
    </mat-chip-list>
  
  <mat-chip-list *ngIf="thesaurusEntry.childs">
      <mat-chip *ngFor="let child of thesaurusEntry.childs;" 
      (click)="onClickIdentifier(child)"
      >
      {{ child.name }}</mat-chip>
    </mat-chip-list>
</div>



<br/>
<br/>

<!-- <div style="width:75vw;;max-height:200px;overflow:auto" >
  <app-mermaid *ngIf="graphDefinition!=''"(finishDrawing)="_postProcess($event)" [mermaidId]="'mermaidFromThesaurus'" [graphId]="'viewAgentTree'" [graphDefinition]="graphDefinition" [viewPortWidth]="" [viewPortHeight]="300" [preserveAspectRatio]="'xMinYMin'"  ></app-mermaid>
</div> -->


</div>