<div  style="position: relative">
    <div style="position:relative">
      <input [(ngModel)]="searchField" placeholder="Search skos ontology ..." class="form-control" (input)="delayedAutocomplete()"
      />
      {{searchField}}
    </div>
  <br/>
  <div class="scrollable-vertical" style="position:relative; height:300px; width:50%">
      <table style="width:100%">
          <tr>
            <th>Name</th>
            <th>Parent</th> 
          </tr>
          <tr *ngFor="let thesaurusEntry of thesaurusEntries ;">
            <td (click)="onClickIdentifier(thesaurusEntry.id)" class="thesaurus">{{ thesaurusEntry.id.name }}</td>
            <td (click)="onClickIdentifier(thesaurusEntry.parent)" class="thesaurus">{{ thesaurusEntry.parent.name }}</td> 
          </tr>
        </table>
  </div>


  <app-mermaid [graphDefinition]="graphDefinition" [viewPortWidth]="" [viewPortHeight]="250" [preserveAspectRatio]="'xMinYMin'" style="position:relative;" ></app-mermaid>



</div>