<!-- <div  *ngIf="logged; then loggedTemplate; else registerLogTemplate;"></div>
<ng-template #loggedTemplate [hidden]="logged">
Logged

</ng-template> -->

<!-- <ng-template #registerLogTemplate [hidden]="!logged">
    <li class="nav-item">
        <a routerLink="/authentification/register" class="nav-link">Register</a>
      </li>
    <li class="nav-item">
        <a routerLink="/authentification/login" class="nav-link" >Login</a>
    </li>

</ng-template> -->

<div [hidden]="!logged">
    <li class="nav-item" *ngIf="loggedUser">
            Logged ({{loggedUser.username}})
    </li>
    <li class="nav-item">
        <button type="button" (click)="onLogout();">Logout</button>
    </li>
</div>


<div [hidden]="logged"> 
    <li class="nav-item">
        <a routerLink="/authentification/register" class="nav-link">Register</a>
    </li>
    <li class="nav-item">
        <a routerLink="/authentification/login" class="nav-link" >Login</a>
    </li>
    
</div>
