<div class="container">
    <div class="row" >
        <div class="col-md-12">
            <p style="font-size: large; min-height: 80%" *ngIf="loggedUser;else other_content">{{loggedUser.username}}</p>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <button [hidden]="!logged" class="nav-link btn btn-link buttonPair dropdown-item" role="button">
                Profile
            </button>
            <a [hidden]="logged" routerLink="/authentification/register" class="nav-link  btn btn-link buttonPair dropdown-item" role="button">Register</a>
        </div>
        <div class="col">
            <button [hidden]="!logged" (click)="onLogout();" class="nav-link btn btn-link buttonPair dropdown-item" role="button">
                Logout
            </button>
            <a [hidden]="logged" routerLink="/authentification/login" class="nav-link  btn btn-link buttonPair dropdown-item" role="button">Login</a>
        </div>
    </div>
</div>


<ng-template #other_content>
    <p style="font-size: large">Guest</p>
</ng-template>