
<span style="font-size:small" id="containerBox">
    <div [hidden]="!logged" *ngIf="loggedUser">

            <div style="font-size: large; padding: 0px">
                {{loggedUser.username}} 
            </div> 
            <button (click)="onLogout();"  class="nav-link" role="button" style=" font-size:small; padding: 0px">
                Logout
            </button>

    </div>
    
    
    <div [hidden]="logged">
        <a routerLink="/authentification/register" class="button" role="button" class="nav-link" style=" padding: 0px">Register</a>
        <a routerLink="/authentification/login" class="button" role="button"  class="nav-link" style=" padding: 0px">Login</a>
    </div>
</span>
