  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ISSAC</a>
    <app-logger ></app-logger>
    <!-- From <https://stackoverflow.com/questions/41736554/responsive-navbar-with-angular-2-and-bootstrap-4> -->

    <button class="navbar-toggler" type="button" (click)="collapse=!collapse"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="navbar-collapse"  [hidden]="collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="collapse=true" href="#">Home <span class="sr-only">(current)</span></a>
        </li>


        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-link nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Processus</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a  class="dropdown-item" (click)="collapse=true" routerLink="/processus/index"  >Index</a>
            <a  class="dropdown-item" (click)="collapse=true" routerLink="/processus/edit" >Edit</a>
          </div>
        </div>
        
      </ul>
    </div>
  </nav>
