<!-- The Modal -->
<div id="myModal" class="modal" #modal style="display:none; background-color: rgba(204, 191, 191, 0.527);">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <!-- <h2>{{action.constructor.name}}</h2> -->
            <span class="close" (click)="closeModal();">&times;</span>
        </div>
        <div class="modal-body">
            <form #actionForm="ngForm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Type</span>
                    </div>
                    <select [(ngModel)]="action.type" placeholder="Agent Type" class="form-control" required name="actionType" #agentLabel="ngModel">
                        <option *ngFor="let type of actionTypes;" value="{{ type }}"> {{ type }}</option>
                    </select>

                    <div class="input-group-append" #inputAgentLabel>
                        <span class="input-group-text">{{action.agent.name}}</span>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">{{action.agent.uri}}</span>
                    </div>
                </div>

            </form>
            <br/>
            <div class="btn-group" role="group">
                <button [hidden]="!editable" class="btn btn-success" type="submit" value="Validate Agent" (click)="onSubmitAction()" [disabled]="!agentLabel.valid">Validate Agent</button>
                <button [hidden]="!editable" class="btn btn-warning" value="Reset" (click)="onReset()">Reset</button>
                <button [hidden]="!editable" class="btn btn-danger" value="Delete" (click)="onDelete()">Delete</button>
            </div>

            <br/>
            <br/>

            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" (click)="togglePanel('agentThesaurus')" aria-expanded="false"
                    aria-controls="multiCollapseExample2">Toggle Agent Panel</button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" (click)="togglePanel('browser')" aria-expanded="false"
                    >Full browse</button>
            </p>

                    <div class="myCollapse" id="agentThesaurus">
                                <app-thesaurus-display [rootRestrictions]="agentRootElement" [height]="'500px'" (result)="onThesaurusResult($event)" #thesaurusComponent></app-thesaurus-display>
                    </div>

                    <div class="myCollapse" id="browser" style="display: none">
                            <app-thesaurus-display  [height]="'500px'" (result)="onThesaurusResult($event)" #thesaurusComponentBrowse></app-thesaurus-display>
                </div>






        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>
</div>