<p-dialog [(visible)]="displayModal" [contentStyle]="{'max-height':'70%'}"
 [maximizable]="'true'">
    <p-header>
        <h2>Agent selection </h2>
        <h3 style="display: inline; color: blueviolet">{{agent.label}}  </h3>
        <h5 style="display: inline; color: black; font-style:italic">{{agent.uri}}</h5>
    </p-header>
    <div class="myCollapse" id="agentThesaurus">
        <app-thesaurus-display [rootRestrictions]="agentRootElement" (result)="onThesaurusResult($event)"
            #thesaurusComponent></app-thesaurus-display>
    </div>
    <p-footer>
        <button class="btn btn-success" type="submit" value="Validate Agent" (click)="onSubmitAgent()">Validate
            Agent</button>
            <button [hidden]="!editable" class="btn btn-danger" value="Delete" (click)="onDelete()">Delete</button>
                    <div class="btn-group" role="group">
        </div>

    </p-footer>
</p-dialog>