<div id='basicDiag' #basicDiag style="height:500px"> 
</div>


<p-dialog header="Node creation" [(visible)]="nodeDialogDisplay" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">
        <button type="button" pButton icon="fa fa-cogs" (click)="nodeDialogDisplay=false;processusDialogDisplay=true" label="Processus"></button>
        <button type="button" pButton icon="fa fa-cog" (click)="nodeDialogDisplay=false;openAgentPanel()" label="Agent" ></button>
        <p-footer>
                No footer
        </p-footer>
</p-dialog>

<app-create-processus [visible]="processusDialogDisplay"></app-create-processus>

<app-display [agent]="_agent" #actionComponent></app-display>