<!-- Trigger/Open The Modal -->


<app-display [agent]="agent" (outAgent)="handleSubmittedAgent($event)" [editable]="false" #actionComponent></app-display>
<app-context-display [context]="context" (outContext)="handleSubmittedContext($event)" [editable]="false" #contextComponent></app-context-display>
<form #processusForm="ngForm">

    <div class="form-group">
        <label>
            Processus Name
        </label>
        <input [(ngModel)]="processus.label" placeholder="Processus' name" class="form-control" required #processusName="ngModel"
            name="processusName" (input)="onNameChange()" />
    </div>
    <br/>
    <div class="form-group">
        <label>
            Description
        </label>
        <br/>
        <textarea style="height:100px; width:100%" [(ngModel)]="processus.description" placeholder="Anything you want to comment about this processus"
            #processusDescription name="processusDescription"></textarea>
    </div>
    <button (click)="openAgentPanel();" class="btn btn-secondary" >Add Agent</button>
    <br/>
    <button (click)="openContextPanel();" class="btn btn-secondary" >Setup context</button>
    <br/>
    <br/>

    <button type="submit" class="btn btn-success" value="Validate Processus" (click)="onSubmitProcessus()" [disabled]="!processusForm.form.valid">Validate Processus</button>
</form>




    <app-view (emittedAgent)="handleSubmittedAgent($event)" [processus]="processus" [editable]="true" #viewComponent></app-view>

