

.parent {
    display: flex;
    height: 300px; /* Or whatever */
  }
  
  .child {
    width: 500px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
    
  }