.proprietyPanel {
    /* border-width: 1px;
    border-style: solid;
    border-color: blue; */
    background-color: #9CE6BA;
    /* border: 4px; */
}

.workbenchPanel {
    /* border-width: 1px;
    border-style: solid; */
    background-color:#BDE2CC

}