
<button type="button" pButton icon="fa fa-cog" (click)="sendSomeProcessus();getData();" label="Send something"></button>
<button type="button" pButton icon="fa fa-cog" (click)="addNode();" label="Add Node"></button>
<button type="button" pButton icon="fa fa-cog" (click)="openAgentPanel();" label="Add Agent"></button>

<app-processus-form [canal]='processusCanal'></app-processus-form>
<div id='infovis' style='height: 1000px;'>

</div>

<app-agent-form [canal]="agentCanal" #actionComponent></app-agent-form>