<form #actionForm="ngForm">
  <div class="form-group">
      <label> Search:
          <br/>
          <input  [(ngModel)]="searchField" placeholder="Search in various field ..." class="form-control" name="searchField" #agentLabel="ngModel"
               />
      </label>
  </div>
  <button  type="submit"  (click)="searchAllProcessus()" >Search</button>

</form>

<div>
  <table style="width:100%">
      <tr>
        <th>Processus Name</th>
        <th>Owners</th> 
      </tr>
      <tr (input)="handleFilter($event)">
        <th>
          <input  [(ngModel)]="filter.name" placeholder="Filter by name" class="form-control" name="filterName" #filterName="ngModel"
          />
        </th>
        <th>
          <input  [(ngModel)]="filter.owner" placeholder="Filter by owner" class="form-control" name="filterOwners" #filterOwners="ngModel"
          />
        </th> 
      </tr>
      <tr *ngFor="let processus of processusList ;">
        <td >{{ processus.name }}</td>
        <td >{{ processus.owners | concatenate }}</td>
      </tr>
    </table>
</div>
