<br/>
<br/>
<div class="container" style="margin-left: 0px;">
    <div class="row">
        <div class="col"style="padding-left: 0px;">
            <input   [(ngModel)]="searchField" placeholder="Search in various field ..." class="form-control" name="searchField" #agentLabel="ngModel"
            />        </div>
        <div class="col">
            <button  type="submit" class="btn btn-primary" (click)="searchAllProcessus()" style="display:inline-block">Search</button>
          </div>
    </div>
</div>
<br/>
<br/>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Processus Name</th>
        <th>Owners</th> 
      </tr>
      <tr (input)="handleFilter($event)">
        <th>
          <input  [(ngModel)]="filter.name" placeholder="Filter by name" class="form-control" name="filterName" #filterName="ngModel"
          />
        </th>
        <th>
          <input  [(ngModel)]="filter.owner" placeholder="Filter by owner" class="form-control" name="filterOwners" #filterOwners="ngModel"
          />
        </th> 
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let processus of processusList ;">
        <td >{{ processus.name }}</td>
        <td >{{ processus.owners | concatenate }}</td>
      </tr>
    </tbody>
    </table>
</div>
