
<p-dialog [(visible)]="displayModal" [contentStyle]="{'max-height':'50%'}" [maximizable]="'true'">
    <p-header>
        <h2>Context setting </h2>
        <div class="skosField"> 
            <button (click)="togglePanel('locationThesaurus')" pTooltip="Geographical location">
                    <fa size="2x" name="globe"></fa>
            </button>
    
        <h3 style="display: inline; color: blueviolet;margin-left:3px">{{context.location.label}} </h3>
        <h5 style="display: inline; color: black; font-style:italic">{{context.location.uri}}</h5>
    </div>
        <br />
        <br />
        <div class="skosField">
            <button (click)="togglePanel('primaryPlantThesaurus')" pTooltip="Primary plant">
                    <fa size="2x" name="pagelines"></fa>
            </button>
    
            <h3 style="display: inline; color: green;margin-left:3px">{{context.primaryPlant.label}} </h3>
            <h5 style="display: inline; color: black; font-style:italic">{{context.primaryPlant.uri}}</h5>
        </div>
    </p-header>
    <br />

    <!-- <mat-button-toggle-group  class="margin20" #group="matButtonToggleGroup">
        <mat-button-toggle type="button" (click)="togglePanel('locationThesaurus')" aria-expanded="false" aria-controls="multiCollapseExample2">
            Location Selection</mat-button-toggle>
        <mat-button-toggle type="button" (click)="togglePanel('primaryPlantThesaurus')" aria-expanded="false"
            aria-controls="multiCollapseExample2">Primary Plant Selection</mat-button-toggle>
    </mat-button-toggle-group> -->
    <div class="myCollapse" id="locationThesaurus">
        <app-thesaurus-display [rootRestrictions]="contextRootElement" (result)="onLocationResult($event)"></app-thesaurus-display>
    </div>

    <div class="myCollapse" id="primaryPlantThesaurus" style="display: none">
        <app-thesaurus-display [rootRestrictions]="agentRootElement" (result)="onPrimaryPlantResult($event)"></app-thesaurus-display>
    </div>
    <p-footer>

        <button class="btn btn-success" type="submit" value="Validate Context" (click)="onSubmitContext()" [disabled]="!context.location.uri || !context.primaryPlant.uri">Validate
            Context</button>
        <!-- <button [hidden]="!editable" class="btn btn-warning" value="Reset" (click)="onReset()">Reset</button> -->
        <button [hidden]="!editable" class="btn btn-danger" value="Delete" (click)="onDelete()">Delete</button>

    </p-footer>
</p-dialog>